

<!--Jquery and  Jquery UI for sortable --
<script src="{{ asset('//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<!-- Bootstrap --
<link rel="stylesheet" href="{{ asset("/bundles/dataimage/plugins/bootstrap/css/bootstrap.min.css") }}">
<script src="{{ asset("/bundles/dataimage/plugins/bootstrap/js/bootstrap.min.js") }}"></script>

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ asset('bundles/dataimage/plugins/jquery-file-upload/css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/dataimage/plugins/jquery-file-upload/css/jquery.fileupload-ui.css') }}">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">

<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="{{ asset('bundles/dataimage/plugins/jquery-file-upload/css/jquery.fileupload-noscript.css') }}"></noscript>
<noscript><link rel="stylesheet" href="{{ asset('bundles/dataimage/plugins/jquery-file-upload/css/jquery.fileupload-ui-noscript.css') }}"></noscript>


<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included --
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ asset('//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js') }}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ asset('//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js') }}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ asset('//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js') }}"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation --
<script src="{{ asset('//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js') }}"></script>
<!-- blueimp Gallery script -->
<script src="{{ asset('//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js') }}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload-image.js') }}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload-image.js') }}"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload-video.js') }}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
<!-- The main application script --
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/main.js') }}"></script>
<!-- endscripts -->

