{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %}
{#
    we pretend to include this template on a modalform
#}

 {% block modaltitle %}Editar Imagen{% endblock %}
 
{% block modalbody %}
                        {% if form_errors(new_form) %}
                        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
                       {% endif %}

                       <form class="col-md-12" action="#" id="insertimageform">
                           {% if new_form['item_id'] is defined %}
                            {% set configField = { 'label': 'Ítem', 'field': 'item_id', 'classesinput':'select2'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            {% endif %}
                           
                            {% set configField = { 'label': 'Título', 'field': 'title'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

                            {% set configField = { 'label': 'Descripción', 'field': 'comments' } %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

                            {% if linkfield == true %}
                                {% set configField = { 'label': 'Enlace (http://...)', 'field': 'link'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            {% endif %}

                            {% if id is defined and id!='' and id!=0 %}
                                {{ form_widget(new_form['id'], {'attr': {'class': 'form-control'}, 'value': id }) }}
                            {% endif %}
                            
                            {{ form_widget(new_form._token) }}
                            <div class="clearfix"></div>
                       </form>

    
{% endblock %}         

{% block modalbuttons %}
    <button type="button" id="btn_saveimage" class="btn red">Guardar</button>
{% endblock %}

{% block modalscripts %}
    {% set idfield = 'dataimage_comments' %}
    {% include('BEInterfaceBundle:_Scripts:texteditor.html.twig') %}

    
    <script>
        $(document).ready(function() {
            $('#btn_saveimage').click(function(){
                if (typeof(CKEDITOR) != 'undefined') $('#dataimage_comments').val(CKEDITOR.instances['dataimage_comments'].getData());
                $('#buttons_modal').css('display', 'none');
                $('#ajaxloader').css('display', 'block');
                $.post('{{ path('dataimage_modifyimage') }}',  $("#insertimageform").serialize() , function(r){
                    $('#ajaxloader').css('display', 'none');
                    $('#buttons_modal').css('display', 'block');
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    $('#file_{{ id }} .file_name').html($('#dataimage_title').val());
                    $('#file_{{ id }} .file_comments').html($('#dataimage_comments').val());
                    $('#file_{{ id }} .file_link').html($('#dataimage_link').val());
                    if ($('#dataimage_item_id').val()){
                        $('#file_{{ id }} .item_name').html(r.data.item.name+' (#'+r.data.item.id+')');
                    }                    
                    {% if idmodal is defined %}
                        $('#{{ idmodal }}').modal('hide');
                    {% else %}
                        $('.modal').modal('hide');
                    {% endif %}
                });               
            });
        });
     </script>
 {% endblock %}